@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    background: url('https://imgur.com/UObCMol.jpeg') top center fixed;
    background-size: 100%;
    font-family: "SUSE", sans-serif;
    color: black;
}

.topbar {
    background: rgba(126, 100, 86, 0.8);
    border: 1px solid black;
    border-top: none;
    color: black;
}

.navbar {
    background: rgba(126, 100, 86, 0.8);
    border-bottom: 2px solid black;
    font-family: Julius Sans One;
}

.navbar li a {
    color: black !important;
}

.navbar li a:hover {
    background: rgba(144, 90, 93, 0.8) !important;
}