@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body {
    background: url('https://imgur.com/UObCMol.jpeg') top center fixed;
    background-size: 100%;
    font-family: "SUSE", sans-serif;
    color: #fbf4dc !important;
}

.topbar {
    background: rgba(26, 39, 75, 0.7);
    border: 1px solid rgb(251, 244, 220);
    border-top: none;
    color: #fbf4dc !important;
}

.navbar {
    background: rgba(11, 18, 43, 0.8);
    border-bottom: 2px solid #fbf4dc;
    font-family: "SUSE", sans-serif;
}

.navbar li a {
    color: #fbf4dc !important;
}

.navbar li a:hover {
    background: rgba(1, 5, 20, 0.8) !important;
}

.container.main {
    background: rgba(26, 39, 75, 0.7);
    border: 1px solid #fbf4dc;
    box-shadow: none;
}

.col-md-9 {
    background: none;
}

.breadcrumb {
    background: rgba(251, 244, 220, 0.8);
    color: rgb(26, 39, 75);
}

.breadcrumb .active {
    color: rgb(26, 39, 75) !important;
}

.breadcrumb a {
    color: rgb(26, 39, 75) !important;
}

.alert {
    background: rgba(11, 18, 43, 0.8);
    border: 1px solid #fbf4dc;
    color: #fbf4dc !important;
}

.alert-warning,
.alert-danger {
    background: #fbf4dc;
    color: rgb(11, 18, 43);
}

.feature,
div.left {
    background: red !important;
    border: 1px solid #fbf4dc !important;
}

.panel {
    background: rgba(11, 18, 43, 0.8) !important;
    border: none !important;
    box-shadow: none !important;
}

.progress {
    background: rgba(50, 50, 50, 0.4);
}

.progress-div {
    color: #fbf4dc !important;
}

.chat_light {
    background: red;
    text-align: center;
    border: 1px solid #fbf4dc;
    border-bottom: none;
}

.chat_dark {
    background: rgba(11, 18, 43, 0.8);
}

h1 {
    color: #fbf4dc !important;
    font-size: 48px;
}

h3 {
    color: #fbf4dc !important;
    font-size: 24px !important;
}

.table {
    background: red;
    border: 1px solid #fbf4dc;
    border-collapse: separate;
}

.th {
    background: rgba(11, 18, 43, 0.8) !important;
}

.top,
.bottom,
.table .left {
    background: rgba(16, 28, 70, 0.8) !important;
    color: #fbf4dc !important;
}

.inner-table .left {
    background: red !important;
}

.inner-table .right {
    background: red;
}

.right_odd {
    background: red !important;
}

.right_cub {
    background: red !important;
}

.cave-grid,
.mound-grid {
    background: rgba(11, 18, 43, 0.8);
    border: 1px solid #fbf4dc;
}

a {
    color: #fbf4dc !important;
}

a:hover {
    color: rgb(255, 208, 55) !important;
}

input,
select,
textarea {
    background: #fbf4dc !important;
    border: 1px solid rgb(11, 18, 43) !important;
    box-shadow: none !important;
    color: rgb(11, 18, 43) !important;
    text-shadow: none !important;
}

input[type=button]:hover,
input[type=submit]:hover {
    background: rgb(255, 208, 55) !important;
}

.progress div {
    color: rgb(11, 18, 43);
}

.progress-bar {
    background: #fbf4dc;
}